.containerAC {
	margin-top: 100px;
}

.img-E, .img-D {
	height: 300px;
	border-radius: 10px;
}

.slideRight {
	margin-top: 0px;
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 2s;

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

.slideLeft  {
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 2s;

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}