.modal {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 15%;
    animation: modal 0.5s;

}


@keyframes modal {
    from {
        translate: 0 -500px;
    }

    to {
        translate: 0 0px;
    }
}

.modal p {
    padding: 0.2rem;
}

.modalCard {
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.42);
    border-radius: 8px;
}

.modalDisable {
    display: none;
}

.closeButton {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0.2rem 0 0 0;
}

.closeButton button {
    display: flex;
    align-items: center;
    background: transparent;
    font-weight: 600;

    border: 0;

}

.closeButton button svg {
    fill: #fff;
}