@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.caixaCards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardUnico img{
    height: 200px;
    object-fit: cover;

}

.cardUnico h5{
    font-weight: 600;
}