.caixaBanner{
    width: 100% ;
    background-color: #000000;
}
.caixaBanner img{
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width:500px) {
    .caixaBanner img{
        height: 200px;
        object-fit: cover;
        object-position: center;
        
    }
    
}