@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #031615;
  position: relative;
}

.logo {}

.logo img {
  height: 30px;
}

.menuIcon {
  display: none;
}

.navElements {}

.navElements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navElements ul li:not(:last-child) {
  margin-right: 60px;
}

.navElements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #D3DAD5;
  text-decoration: none;
}

.navElements ul a.active {
  color: #D3DAD5;
  font-weight: 500;
  position: relative;
}

.reservaItem {
  background-color: #C3A99D;
}

.navElements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .navElements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .navElements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #031615;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .navElements.active {
    width: 270px;
  }

  .navElements ul {
    display: flex;
    flex-direction: column;
  }

  .navElements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}